.idea/

www/jp/
vendor/
bin/*.bin
bin/*.bak
bin/quests/*.bin
bin/questlists/*.bin
bin/scenarios/*.bin
bin/debug/*.bin
savedata/*/
*.exe
*.lnk
*.bat

# remove when making changes to its actual structure
config.json
